@model IEnumerable<Ticket>

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject UserManager<ApplicationUser> userManger

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "All Tickets";
    var i = 1;
}

<a asp-controller="ticket" asp-action="create"
   class="btn btn-primary">Create New Ticket</a>

<div class="table-responsive col-12">
    <table id="paginationFullNumbers" class="table">
        <thead>
            <tr>
                <th class="th-sm">
                    #
                </th>
                <th class="th-sm">
                    Ticket Subject
                </th>
                <th class="th-sm">
                    Details
                </th>
                <th class="th-sm">
                    Department
                </th>
                <th class="th-sm">
                    Priority
                </th>
                <th class="th-sm">
                    Status
                </th>
                <th class="th-sm">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody style="font-size:small">
            @foreach (var ticket in Model)
            {
                //var deleteId = "delete_" + ticket.TicketId;


                <tr>
                    <td>@(i++)</td>
                    <td>
                        @ticket.Subject
                        <p class="text-info" style="font-size:small">
                            Created by @await userManger.FindByIdAsync(ticket.CreatedBy) <br />at @ticket.CreateDate

                            @if (ticket.ModifiedBy != null)
                            {

                                <br />
                                <span>Modified by @await userManger.FindByIdAsync(ticket.ModifiedBy) <br />at @ticket.ModifyDate</span>

                            }
                        </p>

                    </td>
                    @*<td>@ticket.RequestDetail.Substring(0, 2)</td>*@
                    <td class="text-wrap">
                        @if (ticket.RequestDetail.Length >= 80)
                        {
                            @ticket.RequestDetail.Substring(0, 80)
                            <text> ... </text>
                        }
                        else
                        {
                            @ticket.RequestDetail
                        }
                    </td>
                    <td>@ticket.Department.DepartmentName</td>
                    <td>
                        @if (ticket.Priority.PriorityName == "High")
                        {
                            <span class="badge badge-secondary">@ticket.Priority.PriorityName</span>
                        }
                        else if (ticket.Priority.PriorityName == "Urgent")
                        {
                            <span class="badge badge-danger">@ticket.Priority.PriorityName</span>
                        }
                        else
                        {
                            <span class="badge badge-success">@ticket.Priority.PriorityName</span>
                        }

                    </td>
                    <td>@ticket.TicketStatus</td>
                    <td>

                        <a asp-controller="ticket" asp-action="details" asp-route-id="@ticket.TicketId"
                           class="btn btn-primary btn-sm mb-1" style="width:70px;">View</a><br />
                        <a asp-controller="ticket" asp-action="edit" asp-route-id="@ticket.TicketId"
                           class="btn btn-primary btn-sm mb-1" style="width:70px;">Edit</a><br />
                        <a class="btn btn-danger btn-sm" name="delete"
                           subject="@ticket.Subject" onclick="deleteTicket(this)"
                           ticketId="@ticket.TicketId" style="width:70px;">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th class="th-sm">
                    #
                </th>
                <th class="th-sm">
                    Ticket Subject
                </th>
                <th class="th-sm">
                    Details
                </th>
                <th class="th-sm">
                    Department
                </th>
                <th class="th-sm">
                    Priority
                </th>
                <th class="th-sm">
                    Status
                </th>
                <th class="th-sm">
                    Actions
                </th>
            </tr>
        </tfoot>
    </table>
</div>



@section Scripts{
    <script type="text/javascript">
        @functions{
            public string GetAntiXsrfRequestToken()
            {
                return Xsrf.GetAndStoreTokens(Context).RequestToken;
            }
        }

        $(document).ready(function () {
            //Pagination full Numbers
            $('#paginationFullNumbers').DataTable({
                "pagingType": "full_numbers"
            });
            $('.dataTables_length').addClass('bs-select');
        });

        @*$(document).ready(function () {
            $('button[name="delete"]').click(function () {
                var deleteArray = $(this).attr('id').split('_');
                var id = deleteArray[1];
                var name = $(this).attr('subject');
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/ticket/delete/" + id,
                            method: "POST",
                            headers: {
                                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                            }
                        }).fail(function () {
                            Swal.fire(
                                'Error!',
                                'someting went wrong please try again later.',
                                'error'
                            )
                        }).done(function () {
                            Swal.fire(
                                'done',
                                'the Ticket' + name +'has deleted',
                                'success'
                            )
                        }).done(function () {
                            window.location.href = '/ticket/index';
                        })
                    }
                })
            })
        });*@

        function deleteTicket(obj) {
            var deletedID = obj.getAttribute('ticketId');
            var name = obj.getAttribute('subject');
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/ticket/delete/" + deletedID,
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                        }
                    }).fail(function () {
                        Swal.fire(
                            'Error!',
                            'someting went wrong please try again later.',
                            'error'
                        )
                    }).done(function () {
                        Swal.fire(
                            'done',
                            'the Ticket' + name + 'has deleted',
                            'success'
                        )
                    }).done(function () {
                        window.location.href = '/ticket/index';
                    })
                }
            })
        }

    </script>
}