@model EditUserViewModel

@{ 
    ViewBag.Title = "Edit User";
}

<h1>Edit User</h1>

<form method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="@Model.Id" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Id" disabled class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Name" class="form-control" />
        </div>
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Email" class="form-control" />
        </div>
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>

    <div class="form-group row">
        <label asp-for="DepartmentId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select class="form-control" asp-for="DepartmentId"
                    asp-items="@(new SelectList(ViewBag.ListOfDepartment,"DepartmentId","DepartmentName"))">
                <option>Please select one</option>
            </select>
        </div>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>

    @*<div class="form-group row">
        <label asp-for="InDepRole" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="InDepRole" asp-items="Html.GetEnumSelectList<InDepRole>()" class="form-control">*@
                @*<option selected="selected" value="">Please select</option>*@
            @*</select>
            <span asp-validation-for="InDepRole" class="text-danger"></span>
        </div>
    </div>*@


    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="ListUsers" class="btn btn-primary">Cancel</a>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="card mb-3">
        <div class="card-header">
            <h3>User Roles</h3>
        </div>

        <div class="card-body">
            @if (Model.Roles.Any())
            {
                foreach (var role in Model.Roles)
                {
                    <h5 class="card-title">@role</h5>
                }
            }
            else
            {
                <h5 class="card-title">None at the moment</h5>
            }
        </div>

        <div class="card-footer">
            <a asp-action="ManageUserRoles" asp-route-userid="@Model.Id" class="btn btn-primary">Manage Roles</a>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h3>User Claims</h3>
        </div>

        <div class="card-body">
            @if (Model.Claims.Any())
            {
                foreach (var claim in Model.Claims)
                {
                    <h5 class="card-title">@claim</h5>
                }
            }
            else
            {
                <h5 class="card-title">None at the moment</h5>
            }
        </div>

        <div class="card-footer">
            <a asp-action="ManageUserClaims" asp-route-userId="@Model.Id" class="btn btn-primary">Manage Claims</a>
        </div>
    </div>


</form>