@model RoleClaimsViewModel

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Manage Role Claims</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    @{ string claimValue = string.Empty;}
                    @for (int i = 0; i < Model.Claims.Count; i++)
                    {
                        if (claimValue != Model.Claims[i].ClaimValue)
                        {
                            <div class="w-100"></div>
                            <h5 class="card-title text-info">@Model.Claims[i].ClaimValue</h5>
                            <div class="w-100"></div>
                            <div class="col-4">
                                <div class="form-check m-1">
                                    <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                                    <input type="hidden" asp-for="@Model.Claims[i].ClaimValue" />
                                    <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
                                    <label asp-for="@Model.Claims[i].IsSelected" class="form-check-label">
                                        @Model.Claims[i].ClaimType
                                    </label>
                                </div>
                            </div>
                            claimValue = Model.Claims[i].ClaimValue;
                        }
                        else
                        {
                            <div class="col-4">
                                <div class="form-check m-1">
                                    <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                                    <input type="hidden" asp-for="@Model.Claims[i].ClaimValue" />
                                    <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
                                    <label asp-for="@Model.Claims[i].IsSelected" class="form-check-label">
                                        @Model.Claims[i].ClaimType
                                    </label>
                                </div>
                            </div>
                        }

                    }
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a asp-action="EditRole" asp-route-Id="@Model.RoleId" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>