@model IEnumerable<Priority>


@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject UserManager<ApplicationUser> userManger

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "All Departments";
    var priorities = Model.ToList();
    int index = 1;
}


<button class="btn btn-primary" id="createNew">Create New Priority</button>
<br /><br />

<div class="card p-2">
    <div>
        <table id="paginationFullNumbers" class="table">
            <thead>
                <tr>
                    <th class="th-sm">
                        ID
                    </th>
                    <th class="th-sm">
                        Priorty Name
                    </th>
                    <th class="th-sm">
                        Details
                    </th>
                    <th class="th-sm">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    var editId = "edit_" + priorities[i].PriorityName + "_" + priorities[i].PriorityId;
                    var deleteId = "delete_" + priorities[i].PriorityName + "_" + priorities[i].PriorityId;
                    <tr>
                        <td>@(index++)</td>
                        <td>@priorities[i].PriorityName</td>
                        <td>
                            Created by @await userManger.FindByIdAsync(priorities[i].CreatedBy) at @priorities[i].CreateDate
                            @if (priorities[i].ModifiedBy != null)
                            {

                                <p>
                                    Modified by @await userManger.FindByIdAsync(priorities[i].ModifiedBy) at @priorities[i].ModifyDate
                                </p>
                            }
                        </td>

                        @*<a asp-controller="department" asp-action="details" asp-route-id="@departments[i].DepartmentId"
                            class="btn btn-primary m-1">View</a>*@
                        <td>
                            <button class="btn btn-primary btn-sm m-1" id="@editId" name="edit">Edit</button>
                            <button class="btn btn-danger btn-sm m-1" id="@deleteId" name="delete">Delete</button>
                        </td>

                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th class="th-sm">
                        ID
                    </th>
                    <th class="th-sm">
                        Priorty Name
                    </th>
                    <th class="th-sm">
                        Details
                    </th>
                    <th class="th-sm">
                        Actions
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        @functions{
            public string GetAntiXsrfRequestToken()
            {
                return Xsrf.GetAndStoreTokens(Context).RequestToken;
            }
        }

        $(document).ready(function () {
            //pagination table
            $('#paginationFullNumbers').DataTable({
                "pagingType": "full_numbers"
            });
            $('.dataTables_length').addClass('bs-select');

            //delete button
            $('button[name="delete"').click(function () {
                var deleteArray = $(this).attr('id').split('_');
                var id = deleteArray[2];
                var name = deleteArray[1];
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/priority/delete/" + id,
                            method: "POST",
                            headers: {
                                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                            }
                        }).fail(function () {
                            Swal.fire(
                                'Error!',
                                'someting went wrong please try again later.',
                                'error'
                            )
                        }).done(function () {
                            Swal.fire(
                                'done',
                                'the Priority' + name +'has deleted',
                                'success'
                            )
                        }).done(function () {
                            window.location.href = '/priority/index';
                        })
                    }
                })
            })


            //edit button
            $('button[name="edit"').click(function () {
                var editId = $(this).attr('id').split('_');
                var id = editId[2];
                var name = editId[1];
                console.log(editId);
                console.log(id);
                console.log(name);
                Swal.fire({
                    title: 'Edit Priority',
                    html:
                        '<input id="priorityName" placeholder="Priority new name" class="swal2-input">',
                    //+'<input id="swal-input2" class="swal2-input">',
                    focusConfirm: false
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/priority/edit/" + id,
                            method: "POST",
                            headers: {
                                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                            },
                            data: {
                                newName: $('#priorityName').val()
                            }

                        }).fail(function () {
                            Swal.fire(
                                'Error!',
                                'someting went wrong please try again later.',
                                'error'
                            )
                        }).done(function () {
                            Swal.fire(
                                'Congrats!',
                                'Department name changed.',
                                'success'
                            )
                        }).done(function () {
                            window.location.href = '/priority/index';
                        })
                    }
                })
            });
        });


        //create button
        $(document).ready(function () {
            $('#createNew').click(function () {
                Swal.fire({
                    title: 'New Priority',
                    input: 'text',
                    inputLabel: 'Priority Name',
                    inputPlaceholder: 'what you would name the Priority?',
                    inputValidator: (value) => {
                        if (!value) {
                            return 'You need to write something!'
                        }
                    },
                    showCancelButton: true
                }).then((result) => {

                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/priority/Create",
                            method: "POST",
                            headers: {
                                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                            },
                            data: {
                                priorityName: result.value
                            }

                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            Swal.fire(
                                'Error!',
                                'someting went wrong please try again later.',
                                'error'
                            )
                        }).done(function () {
                            window.location.href = '/priority/index';
                        })
                    }
                });
            });
        });

    </script>
}




@*@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "All Priorities";
}

<a asp-controller="Priority" asp-action="create"
   class="btn btn-primary">Create New Priority</a>

<div class="p-5">
    <table id="paginationFullNumbers" class="table" width="auto">
        <thead>
            <tr>
                <th class="th-sm">
                    Priority Name

                </th>
                <th class="th-sm">
                    Actions

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var priority in Model)
            {
                <tr>
                    <td>@priority.PriorityName</td>
                    <td>
                        <a asp-controller="priority" asp-action="details" asp-route-id="@priority.PriorityId"
                           class="btn btn-primary btn-sm">View</a>
                        <a asp-controller="priority" asp-action="edit" asp-route-id="@priority.PriorityId"
                           class="btn btn-primary btn-sm">Edit</a>
                        <a asp-controller="priority" asp-action="delete" asp-route-id="@priority.PriorityId"
                           class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    Priority Name
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </tfoot>
    </table>
</div>*@

@*<ul>
        @foreach (var priority in Model)
        {
            <li class="text-center">
                <h4>@priority.PriorityName</h4>

                <a asp-controller="priority" asp-action="details" asp-route-id="@priority.PriorityId"
                   class="btn btn-primary m-1">View</a>

                <a asp-controller="priority" asp-action="edit"
                   asp-route-id="@priority.PriorityId"
                   class="btn btn-primary m-1">Edit</a>
                <a asp-controller="priority" asp-action="delete" asp-route-id="@priority.PriorityId" class="btn btn-danger m-1">Delete</a>

            </li>
        }
    </ul>*@


@*@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //Pagination full Numbers
            $('#paginationFullNumbers').DataTable({
                "pagingType": "full_numbers"
            });
        });
    </script>
}*@